* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  background-color: black;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  /* border: 1px solid white; */
}

.container {
  background-color: rgb(32, 32, 32);
  box-shadow: 0 0px 2px rgb(116, 116, 116);
  width: 400px;
  max-width: 100%;
  /* border: 1px solid red; */
  border-radius: 5px;
}
.header {
  text-align: center;
  padding: 20px 0px;
}
.header h2 {
  margin: 0;
  text-transform: uppercase;
}
.form {
  padding: 30px 40px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  overflow: hidden;
}
.form-control {
  margin-bottom: 10px;
  padding-bottom: 20px;
  position: relative;
}
.form-control.success input {
  border-color: #2ecc71;
}
.form-control.error input {
  border-color: #e74c3c;
}
.form-control label {
  display: inline-block;
  margin-bottom: 5px;
}
.form-control input {
  display: block;
  width: 100%;
  padding: 10px;
  font-size: 14px;
  border-radius: 7px;
  outline: none;
  -moz-outline-radius: 5px;
}

.form-control i {
  position: absolute;
  top: 37px;
  right: 10px;
  color: black;
  visibility: hidden;
}
.form-control.success .fa-check-circle {
  visibility: visible;
  color: #2ecc71;
}
.form-control.error .fa-exclamation-circle {
  visibility: visible;
  color: #e74c3c;
}

.form-control small {
  visibility: hidden;
  position: absolute;
  bottom: 0;
  left: 0;
}
.form-control.error small {
  visibility: visible;
  color: #e74c3c;
}

.form button {
  width: 80px;
  padding: 8px 10px;
  border: transparent;
  border-radius: 7px;
  align-self: center;
  font-size: 15px;
}
